body{
    background-color: rgb(52, 35, 199);
    margin: 0;
}
#menu1{
    background-color:  rgb(255, 255, 255);
    display: block;
    padding: 74px;
    margin: 0; 
    position: relative;  
}
#menu2{
    background-color: rgb(233, 231, 231);
    display: block;
    padding: 440px;
    margin: 0; 
    position: relative;  
}
#menu3{
    background-color: rgb(28, 114, 67);
    display: block;
    padding: 220px 0;
    margin: 0; 
    position: relative; 
   
}
#call{
    background-color: rgb(137, 214, 170);
    display: inline-block;
    margin:0;
    padding:15px;
    position:absolute;
    left: 280px;
    top: 30px;
    width: 135px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;  
    

}
#shop{
    background-color: rgb(28, 114, 67);
    margin:0;
    padding:25px;
    position:absolute;
    left: 485px;
    top: 30px;
    border-radius: 15px;
}
#sabtnam{
    background-color:  rgb(255, 255, 255);
    display: inline-block;
    margin:0;
    position:absolute;
    left: 565px;
    top: 30px;
    width: 135px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}
#jostojoo{
    background-color: rgb(224, 222, 222);
    display: inline-block;
    margin:0;
    position:absolute;
    left: 740px;
    top: 30px;
    width: 440px;
    padding:15px;
    border-radius: 15px;
    text-align: right;
    text-decoration: none;

}
#logo{
    display: inline-block;
    margin:0;
    position:absolute;
    left: 1230px;
    top: 18px;
    width: 430px;
    padding:0;
    border-radius: 15px;

}
#shoab{
    background-color: rgb(28, 114, 67);
    display: inline-block;
    margin:0;
    padding:8px;
    position:absolute;
    left: 290px;
    top: 107px;
    width: 120px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none; 
    color: aliceblue; 

}
.guide{
    background-color:  rgb(255, 255, 255);
    display: inline-block;
    margin:0;
    padding: 5px;
    position:absolute;
    top: 110px;
    text-align: center;
    text-decoration: none;

}
#rahnama{
    left: 430px;
}
#lavazem{
    left: 640px;

}
#vixhe{
    left: 760px;
}
#kaf{
    left: 880px;
}
#children{
    left: 990px;
    top: 92px;
}

#kif{
    left: 1090px;
}
#women{
    left: 1200px;
}
#men{
    left: 1310px;
}
#z1{
    
    background-color: rgb(112, 227, 156);
    
}
#menu1>ul li:hover{
    background-color: rgb(36, 133, 89);
      
}
.menu1 ul li{
    position: relative;
}
#menu1 ul ul{
    display: none;
    
} 

#menu1>ul li:hover>ul{
    display: initial;
    position: absolute;
    left: 0;
    z-index: 10px;
    
}
#menu1>ul>li:hover>ul>li{
    display: block;
}  
#left_pic{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 280px;
    border-radius: 20px;
}
#up_pic{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 1025px;
    border-radius: 15px;
    width: 380px;
   
}
#down_pic{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 260px;
    left: 1025px;
    border-radius: 15px;
    width: 380px;
    
}
#message{
    background-color: rgb(27, 86, 54);
    display: inline-block;
    margin:0;
    padding: 0;
    position:fixed;
    width: 100px;
    top:730px;
    left: 40px;
    width: 60px;
    border-radius: 150px;
    
}
#dastebandi{
    color: rgb(41, 145, 88);
    text-align: center;
    text-decoration: none;
    font-size: xxx-large;
    position: absolute;
    top: 440px;
    left: 650px;
}
.buying{
    display: inline-block;
    border: 5px;
    border-color: black;
    border-radius: 20px;
    width: 140px;
    

}
#buy{
    position: absolute;
    top: 560px;
    left: 280px;


}
.whiteborder{
    display: inline-block;
    background-color:  rgb(255, 255, 255);
    border-radius: 15px;
    width: 300px;
}
.buying2{
    display: inline-block;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}


